$font-size: 12px;
$line-height: 1.5em;
$font-weight: 400;
$body_color: #232323;
$body-background: #ffffff;
$font-family: 'Poppins';
$border-checkbox: #d0d0d0;
$color-input: #3c3c3c;
$border_color: #ebebeb;
$link_color_hover: #232323;