.fullwidth-banner {
    .banner-title {
        letter-spacing: .05em;
        font-weight: 700;
        margin-bottom: 24px;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 17px;
        font-size: 30px;
        color: #232323;
    }
}

@media (min-width: 767px) {
    .fullwidth-banner {
        .banner-title {
            font-size: 40px;
        }
    }
}


/* END: Section Full With Banner */