/* START: Section Full With Google-map */
.contact-us-page-2 .page-header {
  background-image: url(/New-Ella-HTML/assets/images/banners/pages/banner-contact2-p.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center top;
  height: 270px;
  background-attachment: fixed;
}

.contact-us-page-2 .breadcrumb {
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 32px;
}

.contact-us-page-2 .breadcrumb a {
  color: #ffffff;
}

.contact-us-page-2 .page-title {
  margin: 15px;
}

.contact-us-page-2 .page-title {
  font-size: 24px;
  letter-spacing: .05em;
  color: #ffffff;
}

.contact-us-page-2 .text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .02em;
  color: #ffffff;
  max-width: 540px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us-page-2 .separate {
  display: block;
  position: relative;
  padding: 0 7px;
}

.contact-us-page-2 .separate svg {
  color: #ffffff;
  fill: #ffffff;
}

.contact-navigation .navigation {
  background-color: #fafafa;
  border: #fafafa;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.contact-navigation .contact-page-nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
  -webkit-column-gap: 47px;
          column-gap: 47px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.contact-navigation .contact-page-nav li.item {
  color: #3c3c3c;
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  scroll-snap-align: start;
  font-size: 12px;
}

.contact-navigation .contact-page-nav li.item a {
  font-weight: 500;
  -webkit-transition: color .35s ease-in-out;
  transition: color .35s ease-in-out;
  color: 12px;
  line-height: 22px;
  letter-spacing: .02em;
}

.content-contact2 h2.contact-main-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 28px;
  letter-spacing: .05rem;
}

.content-contact2 .contact-form-heading {
  padding-bottom: 14px;
}

.content-contact2 .contact-form-description {
  padding: 0;
  margin: 0 0 30px;
}

.content-contact2 .contact-item.contact-itemLeft {
  margin-top: 55px;
}

.content-contact2 .contact-item.contact-itemLeft .contact-form .form-input {
  padding-top: 12px;
  padding-bottom: 16px;
}

.content-contact2 .form-actions {
  margin: 23px 0 0;
}

.content-contact2 .form-actions .button {
  border-radius: 0;
  margin-top: 5px;
  width: 227px;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.content-contact2 .contact-itemRight .button-2 {
  border-radius: 0;
  margin: 35px 0 30px 0;
  width: 205px;
  height: 40px;
  display: block;
  margin-left: 0;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-contact2 .contact-itemRight address p {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contact-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 15px;
  }
  .contact-item + .contact-item {
    margin-top: 0;
  }
}

@media (min-width: 1350px) {
  .background-form-right {
    width: 470px;
    margin-left: 47px;
    padding: 55px;
    background-color: #fafafa;
  }
}

@media (min-width: 1400px) {
  .contact-item.contact-itemRight {
    width: 370px;
    margin-left: 0;
    margin-top: 25px;
  }
}
/*# sourceMappingURL=contact2.css.map */